aws_region          = "ap-south-1"
project_name        = "cloudmaven"
environment         = "dev"
vpc_cidr            = "10.40.0.0/16"
cluster_version     = "1.30"
node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3

